@font-face{
  font-family: Game;
  src: url(./04b_30/04B_30__.TTF);
}

body, html{
  padding: 0;
  margin: 0;
  background-image: url(./images/subwayStation.png);
}

#title{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

h1{
  font-family: Game;
  font-size: 3em;
  color: #FFFF;
  text-align: center;
}

#canvas-div{
  display: flex;
  align-items: center;
  justify-content: center;
}

#start-button {
  font-family: Game;
  background-color: #2c61b7;
  color: #ffff;
  width: 100px;
  height: 50px;
  font-size: 14px;
}
#reset-button {
  font-family: Game;
  background-color: #2c61b7;
  color: #ffff;
  width: 100px;
  height: 50px;
  font-size: 14px;
}
#onePlayer {
  font-family: Game;
  background-color: #2c61b7;
  color: #ffff;
  width: 100px;
  height: 50px;
  font-size: 14px;
}
